.main-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.body_container
{
    display:flex;
    flex-direction: row;
}
.menu{
    display:flex;
    flex-direction: row;
    width: 30%;
}
.ride
{
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
}
.ride-btn
{
    width: 100px;
    height: 40px;
    margin-top: 10px;
}
.logout
{   
    display: inline-flex;
    justify-content: flex-end;
    width: 70%;
    margin-right: 1ch;
}
.row
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
}

.login_container
{
    display: flex;
    flex-direction: column;
    width: 70%;     
}

#login-btn{
    width: 25ch;
    height: 5ch;
    
    
}
.btn
{
    font-size: 2ch;
    background-color: chartreuse;
    border-radius: 1rem ;
}
.ride-container
{
    display: flex;
    flex-direction: column;
}
/* .ride-form-container
{
    display: flex;
    flex-direction: column;
} */
.info_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.faq
{
    display: flex;
    flex-direction: column;
}
#faq_h4
{
    align-self: center;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.whats_new
{
    display: flex;
    flex-direction: column;
}
#whats_new_h4
{
    align-self: center;
}
.credentials
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home_container{
    display: flex;
    flex-direction: column;
}

.col
{
    display: flex;
    flex-direction: column;
}

.top_bar
{
    display: flex;
    flex-direction: row;
}
#menu_bar
{
    margin-top: 16px;
    margin-right: 12px;
    width: 35px;
    height: 35px;
}
#tbar_title
{
    font: helvetica;
    font-style: normal;
    font-size: 20px;
    
}
#navbar
{
    margin-top: 0px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    float: left;
    display: flex;
    background-color:rgb(89, 163, 224);
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
}

a
{
    width: 100%;
    display: block;
    padding: 8px;
    color: chartreuse;
    justify-content: space-between;
    text-align: start;
    text-decoration: none;
}

#personal
{
    margin-top:16px;
    margin-left:1200px;
    width:35px;
    height:35px;
}

.credentials
{
    display: flex;
    align-items: center;
}
.home-bar
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.pref_container
{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
}
.pref_col
{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.profile_col
{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.line-break
{
    display: flex;
    flex-direction: row;
}

.profile_form
{
    display: flex;
    flex-direction: column;
    
}
.form-element
{
    margin-bottom: 1ch;
}
.form-element1
{
    
    margin-left: 6ch;
}
.main_container
{
    display:flex;
    flex-direction: column;
}

@media screen and (max-width: 500px)
{
    .body_container{    flex-direction: column; }
    .login_container{   width:100%; }
    .info_container{    width: 100%; }
    .pref_container{    flex-direction: column; }
    .row{               width: 70%; }
    .ride{              width: 70%; }
    .line-break{
        flex-direction: column;
        width: 100%;
    }
    #navbar{
        position: absolute;
        top: 90%;
        width: 95%;
    }
}